# Copy this to .env and fill in your values

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/Rent-n-Drive

# JWT secret (any long random string)
JWT_SECRET=your_jwt_secret_here

# Cloudinary credentials (from cloudinary.com Dashboard)
CLOUDINARY_CLOUD_NAME= dmasudre3
CLOUDINARY_API_KEY=552531987359693
CLOUDINARY_API_SECRET=hbFdvvX4aB5FgWAuWTIAmEO1xIo

# Server port (optional, defaults to 5000)
PORT=5000
